<!DOCTYPE html>
<html lang="fr">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-2">
      
      
    </div>
    <div class="col-sm-8"> 
      <table class="table table-bordered table-hover table-striped table-vcenter">
        <tbody>
      <% if (page) { %>
            <% for(var i = 0; i < page.length; i++) { %>
              <tr>
                <th><%= page[i].nombre1 %>
                    <%= page[i].operateur %>
                     <%= page[i].nombre2 %>
                =
                    <%= page[i].resultat %>
                </th>
                <% if (page[i].statut === true) { %>
                <td> 
                    <a href="/calculer/<%= page[i]._id %>" class="btn btn-success"><i class="fas fa-calculator"></i></a>
                    <a href="calculatrice/update/<%= page[i]._id %>" class="btn btn-info" id="modifier"><i class="fas fa-edit"></i></a>
                    <a href="delete/<%= page[i]._id %>" class="btn btn-danger" disabled="disabled"><i class="fas fa-trash-alt"></i></a>
                    
                </td>
                <td>
                    <a href="/desactiver/<%= page[i]._id %>" class="btn btn-danger">Désactiver</a>
                </td>
                <% } else { %>
                <td>
                  <a href="#" class="btn btn-danger" disabled="disabled">Non modifiable</a>
                </td>
                <td>
                  <a href="/activer/<%= page[i]._id %>" class="btn btn-success">Activer</a>
                </td>
                <% } %>
              </tr>
            <% } %>
          <% } %>
		  </tbody>
      </table>
    </div>
    <div class="col-sm-2"> 
      
    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>